<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/basic_calculator.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Calculator</title>
</head>
<body>
  <div class="calc-body">
    <div class="display">
      <div class="output"></div>
    </div>
    <!-- make keypad with 50 x 50px keys in 4 x 4 grid -->
    <div class="keypad">
      <div class="key">7</div>
      <div class="key">8</div>
      <div class="key">9</div>
      <div class="key">/</div>
      <div class="key">4</div>
      <div class="key">5</div>
      <div class="key">6</div>
      <div class="key">*</div>
      <div class="key">1</div>
      <div class="key">2</div>
      <div class="key">3</div>
      <div class="key">-</div>
      <div class="key">0</div>
      <div class="key">.</div>
      <div class="key">=</div>
      <div class="key">+</div>
    </div>
  </div>
</body>
</html>
